
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  <style></style>
  <script></script>
  <title>Biomimétisme</title>
</head>
  <body>
    <header>
      <nav>

        <div class="">

        </div>
        <ul class="li">

          <li>
           <i class="fa fa-globe" aria-hidden="true"></i>
           <a href="#">home</a></li>
          <li>description</li>
          <li>déplacement</li>
          <li>structure</li>
          <li>detection</li>
          <li>energie</li>
          <li>contact</li>
          <li>salut</li>


        </ul>
      </nav>
    </header>
    <div class="exemple_multi_ar">


      <section>
        <article >
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wRdIleKwT9Q?autoplay=1"frameborder="0" allowfullscreen="1"></iframe>
            </article>
          </div>

        <article >
          <li>animale</li>
          <li>plante</li>
          <li>fungi</li>
        </article>
      </section>
      <section>
        <article >
          <h1>biomimétisme</h1>
          <img src="file:///Users/alexandrezana/Desktop/Coding-cour/html/images.jpeg" alt="" />
          <p>Le biomimétisme désigne un processus d'innovation et une ingénierie. Il s'inspire des formes, matières, propriétés, processus et fonctions du vivant. Il peut concerner des échelles nanométriques et biomoléculaires avec par exemple l'ADN et l'ARN, et jusqu'à des échelles macroscopiques et écosystémiques, incluant donc les services écosystémiques. Il cherche ainsi des solutions soutenables produites par la nature, sélectionnées parmi de nombreuses autres, éprouvées par l'évolution au sein de la biosphèr
            C'est un domaine encore émergent de la recherche et des domaines techniques, médicaux, industriels et de la bioéconomie, incluant des sous-domaines tels que la bionique, la bioassistance et l'architecture biomimétique2. Certains auteurs y voient une voie nouvelle de développement soutenable et intégré dans la biosphère3
            En France, un Centre européen d'excellence en biomimétisme (Ceebios) est installé à Senlis depuis 2015. </p>
        </article>
        <article class="">

        </article>
      </section>
      <section class="sect">
        <article >
          <h2>animal exemple</h2>
          <h3>papillon morfo</h3>
          <p class="text_sect">
            <img src="morpho2.jpg" alt="" />
            Les très belles ailes bleues du papillon Morpho sont incolores ! En effet, ses ailes sont recouvertes  d’innombrables et minuscules écailles transparentes en chitine (substance organique azotée souple et résistante).
            Mais grâce à leur structure superficielle, elles réfléchissent et réfractent* la lumière, la décomposant et créant des couleurs par interférence. C'est le phénomène de diffraction* qui est propre aux ondes électromagnétiques.
          </p>
        </article>
      </section>
      <section class="sect">
        <article >
           <h2>plante exemple</h2>
           <h3>lotus sacrée</h3>
            <img src="lotus2.jpeg" alt="" />
           <p class="text_sect">
             Le lotus sacré est une plante aquatique, vivace grâce à sa tige en rhizome spongieux, épais, ramifié, portant des tubercules fixés dans le fond de l'étang. Ses feuilles arrondies, peltées, pouvant mesurer jusqu'à 50 cm de diamètre, sont soit flottantes, planes, soit érigées jusqu'à 75 cm au-dessus de l'eau, orbiculaires, en forme de coupe. Leur surface est particulièrement hydrofuge. Bien qu'elle préfère des eaux peu profondes, la plante peut survivre jusqu'à 2,4 m de profondeur2.
           </p>
        </article>
      </section>
      <section class="sect">
        <article >
           <h2>fungi exemple</h2>
           <h3> blob </h3>
           <img src="blob.jpeg" alt="" />
           <p class="text_sect">
             Il n'a pas le moindre neurone mais il est capable d'apprendre : un organisme vivant étonnant constitué d'une unique cellule a montré qu'il savait tirer des leçons de ses expériences pour se nourrir sans risque, révèle une étude. « C'est la première fois que l'on prouve qu'un organisme unicellulaire est capable d'apprentissage
           </p>
        </article>
      </section>
    </div>
      <footer>
        <section>

        </section>
      </footer>
  </body>

</html>
